fastapi
uvicorn[standard]
hypercorn
requests
python-dotenv

sqlalchemy
psycopg2-binary
pydantic
python-multipart

supabase
anthropic
langchain           
langchain-core        
langchain-community
langchain-anthropic
openai
neo4j

bcrypt
tenacity
numpy

graphviz
pypdf
kiwipiepy
langchain-neo4j